/* SECCION DE LA PAGINA DE USUARIO */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

span{
    color: rgb(255, 255, 255);
}

.navbar{
    height: 80px;
}

.custom-width-form {
    width: 60vw; 
    margin: auto;
}

.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.formulario{
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.372);
    width: 90vw;
    text-align:left;
    display:flex;
    flex-direction:column;
}

.checks{
   display: flex;
}

.form-container1 p, .form-container2 p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #72db58;
    font-weight: bolder;
}

.form-group {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:40px;
    margin-bottom:40px;
}

.form-content{
    display:flex;
    flex-direction: column;
}

.form-content img{
    border-radius: 100%;
}

.text-center{
    align-items: center;
}

label{
    color:#000000;
    font-weight: bolder;
    font-size:15px;
    margin-bottom:15px;
}


input, textarea, select{
    width: 100%;
    padding: 15px 15px;
    background-color: #eee;
    border:0;
    outline:  none;
    color:#727272fc;
    font-size:16px;
}

.form-content span{
    width: 100%;
    padding: 15px 15px;
    background-color: #eee;
    border:0;
    outline:  none;
    color:#727272fc;
    font-size:16px;
}

footer{
    height: 15%;
    padding: 15px 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.icons {
    width: 10%;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icons a{
    text-decoration: none;
}

.icons a i{
    display: flex;
    color: #fff;
    font-size: 1.8rem;
}