body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.formulario{
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.372);
    width: 90vw;
    text-align:left;
    display:flex;
    flex-direction:column;
}

.checks{
   display: flex;
}

.form-container1 p, .form-container2 p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #72db58;
    font-weight: bolder;
}

.form-group {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:40px;
    margin-bottom:40px;
}

.form-content{
    display:flex;
    flex-direction: column;
}

.form-content img{
    border-radius: 100%;
}

.text-center{
    align-items: center;
}

label{
    color:#000000;
    font-weight: bolder;
    font-size:15px;
    margin-bottom:15px;
}


input, textarea, select{
    width: 100%;
    padding: 15px 15px;
    background-color: #eee;
    border:0;
    outline:  none;
    color:#727272fc;
    font-size:16px;
}

.form-content span{
    width: 100%;
    padding: 15px 15px;
    background-color: #eee;
    border:0;
    outline:  none;
    color:#727272fc;
    font-size:16px;
}

@media(max-width:991px){
    .formulario{
        width:90%;
        margin: auto;
    }
    textarea{
        margin-bottom:30px;
    }
    .formato{
        width: 90%;
        margin: auto;
        
    }
}
@media (max-width:750px) {
    .form-group{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
        margin-bottom: 20px;
    }
}