body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.imagen{
    width: 50%;
    display: flex;
    align-items: center;
}

.producto_img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.p-0{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.read-more, .read-less{
    color: black;
    font-weight: bolder;
}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    gap: 25px;
}

.conts{
    width: 100%;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 240);
}

.pro{
    padding-top: 25px;
    width: 90%;
    display: flex;
    flex-direction: row;
    overflow: auto;
    gap: 10px;
}

@media (max-width: 758px) {
    .row{
        flex-direction: column;
        align-items: center;
    }
    .imagen, .producto_img{
        width: 100%;
    }
    .container{
        width: 100%;
    }
}